@import url("https://rsms.me/inter/inter.css");
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#2D2B4A), to(#212036)) no-repeat center center fixed;
  background: linear-gradient(#2D2B4A, #212036) no-repeat center center fixed;
}

* {
  font-family: "Inter", sans-serif;
  color: #E7E1B3;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: calc(max(1%,10px));
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  min-width: 20rem;
}

.container__header {
  width: calc(100vw - 40%);
  max-width: 30rem;
}

.container__main {
  width: calc(100vw - 20%);
  padding: 2rem;
  border: 0.3rem solid #E7E1B3;
  border-radius: 1rem;
}

.main {
  text-align: center;
}

.main__para {
  margin-bottom: 2rem;
}

.form__bday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.form__date, .form__submit {
  background-color: transparent;
  border-color: #E7E1B3;
}

.form__submit {
  border-radius: 15%;
}
