//Colors
$bg-color:linear-gradient(#2D2B4A,#212036);
$content-color:#E7E1B3;

//Fonts
$inter: 'Inter', sans-serif; 
$body-default-mb: clamp(8px,4.2vw,16px);
$para-mb:clamp(6px,3.6vw,14px)

// $body-sz-pc: 16px;